@import "tailwindcss";

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    background-size: 400% 400%;
    background-image: linear-gradient(to right, #0ea5e9, #09a542, #c20000);
    animation: gradient-animation 5s ease infinite;
  }